USE [master]
GO
/****** Object:  Database [TicketBookingSystem]    Script Date: 30/01/2026 14:23:58 ******/
CREATE DATABASE [TicketBookingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketBookingSystem', FILENAME = N'E:\MS SQL Sever\MSSQL17.MSSQLSERVER\MSSQL\DATA\TicketBookingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketBookingSystem_log', FILENAME = N'E:\MS SQL Sever\MSSQL17.MSSQLSERVER\MSSQL\DATA\TicketBookingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketBookingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketBookingSystem]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[trip_id] [int] NOT NULL,
	[booking_date] [datetime] NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[payment_method] [varchar](50) NULL,
	[transaction_ref] [varchar](100) NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[payment_time] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[origin_station_id] [int] NOT NULL,
	[destination_station_id] [int] NOT NULL,
	[distance_km] [decimal](10, 2) NULL,
	[estimated_duration_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[station_id] [int] IDENTITY(1,1) NOT NULL,
	[station_name] [nvarchar](100) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[address] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[seat_number] [varchar](10) NOT NULL,
	[passenger_name] [nvarchar](100) NULL,
	[price] [decimal](15, 2) NOT NULL,
	[qr_code_data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[departure_time] [datetime] NOT NULL,
	[arrival_time] [datetime] NOT NULL,
	[base_price] [decimal](15, 2) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone_number] [varchar](15) NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 30/01/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_name] [nvarchar](100) NULL,
	[plate_number] [varchar](20) NOT NULL,
	[total_seats] [int] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([booking_id], [user_id], [trip_id], [booking_date], [total_amount], [status], [note]) VALUES (1, 2, 1, CAST(N'2024-04-28T10:30:00.000' AS DateTime), CAST(1000000.00 AS Decimal(15, 2)), N'CONFIRMED', N'Đón tại cổng bến xe')
INSERT [dbo].[Bookings] ([booking_id], [user_id], [trip_id], [booking_date], [total_amount], [status], [note]) VALUES (2, 3, 1, CAST(N'2024-04-29T15:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(15, 2)), N'PENDING', N'')
INSERT [dbo].[Bookings] ([booking_id], [user_id], [trip_id], [booking_date], [total_amount], [status], [note]) VALUES (3, 2, 3, CAST(N'2024-04-15T09:00:00.000' AS DateTime), CAST(300000.00 AS Decimal(15, 2)), N'CANCELLED', N'Đổi lịch trình')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [booking_id], [payment_method], [transaction_ref], [amount], [payment_time], [status]) VALUES (1, 1, N'MOMO', N'MOMO123456789', CAST(1000000.00 AS Decimal(15, 2)), CAST(N'2024-04-28T10:35:00.000' AS DateTime), N'SUCCESS')
INSERT [dbo].[Payments] ([payment_id], [booking_id], [payment_method], [transaction_ref], [amount], [payment_time], [status]) VALUES (2, 3, N'ZALOPAY', N'ZALO987654321', CAST(300000.00 AS Decimal(15, 2)), CAST(N'2024-04-15T09:05:00.000' AS DateTime), N'REFUNDED')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([route_id], [origin_station_id], [destination_station_id], [distance_km], [estimated_duration_minutes]) VALUES (1, 1, 3, CAST(760.50 AS Decimal(10, 2)), 840)
INSERT [dbo].[Routes] ([route_id], [origin_station_id], [destination_station_id], [distance_km], [estimated_duration_minutes]) VALUES (2, 3, 1, CAST(760.50 AS Decimal(10, 2)), 840)
INSERT [dbo].[Routes] ([route_id], [origin_station_id], [destination_station_id], [distance_km], [estimated_duration_minutes]) VALUES (3, 3, 4, CAST(960.00 AS Decimal(10, 2)), 1080)
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Stations] ON 

INSERT [dbo].[Stations] ([station_id], [station_name], [city], [address], [is_active]) VALUES (1, N'Bến xe Mỹ Đình', N'Hà Nội', N'20 Phạm Hùng, Mỹ Đình, Nam Từ Liêm', 1)
INSERT [dbo].[Stations] ([station_id], [station_name], [city], [address], [is_active]) VALUES (2, N'Bến xe Giáp Bát', N'Hà Nội', N'Km6 Giải Phóng, Hoàng Mai', 1)
INSERT [dbo].[Stations] ([station_id], [station_name], [city], [address], [is_active]) VALUES (3, N'Bến xe Trung Tâm Đà Nẵng', N'Đà Nẵng', N'185 Tôn Đức Thắng, Liên Chiểu', 1)
SET IDENTITY_INSERT [dbo].[Stations] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ticket_id], [booking_id], [seat_number], [passenger_name], [price], [qr_code_data]) VALUES (1, 1, N'A01', N'Trần Văn Khách', CAST(500000.00 AS Decimal(15, 2)), N'QR_DATA_VE_001')
INSERT [dbo].[Tickets] ([ticket_id], [booking_id], [seat_number], [passenger_name], [price], [qr_code_data]) VALUES (2, 1, N'A02', N'Nguyễn Thị Vợ Khách', CAST(500000.00 AS Decimal(15, 2)), N'QR_DATA_VE_002')
INSERT [dbo].[Tickets] ([ticket_id], [booking_id], [seat_number], [passenger_name], [price], [qr_code_data]) VALUES (3, 2, N'A05', N'Lê Thị Mua Sắm', CAST(500000.00 AS Decimal(15, 2)), N'QR_DATA_VE_003')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([trip_id], [route_id], [vehicle_id], [departure_time], [arrival_time], [base_price], [status]) VALUES (1, 1, 1, CAST(N'2024-05-01T20:00:00.000' AS DateTime), CAST(N'2024-05-02T10:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(15, 2)), N'SCHEDULED')
INSERT [dbo].[Trips] ([trip_id], [route_id], [vehicle_id], [departure_time], [arrival_time], [base_price], [status]) VALUES (2, 3, 2, CAST(N'2024-05-01T18:00:00.000' AS DateTime), CAST(N'2024-05-02T12:00:00.000' AS DateTime), CAST(400000.00 AS Decimal(15, 2)), N'ON_GOING')
INSERT [dbo].[Trips] ([trip_id], [route_id], [vehicle_id], [departure_time], [arrival_time], [base_price], [status]) VALUES (3, 4, 3, CAST(N'2024-04-20T07:00:00.000' AS DateTime), CAST(N'2024-04-21T01:00:00.000' AS DateTime), CAST(300000.00 AS Decimal(15, 2)), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [role]) VALUES (1, N'Nguyễn Văn Quản Trị', N'admin@system.com', N'hashed_pass_123', N'0901234567', N'ADMIN')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [role]) VALUES (2, N'Trần Văn Khách', N'khachhang1@gmail.com', N'hashed_pass_456', N'0912345678', N'CUSTOMER')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [role]) VALUES (3, N'Lê Thị Mua Sắm', N'khachhang2@gmail.com', N'hashed_pass_789', N'0987654321', N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([vehicle_id], [vehicle_name], [plate_number], [total_seats], [status]) VALUES (1, N'Limousine 34 Phòng VIP', N'29B-123.45', 34, N'ACTIVE')
INSERT [dbo].[Vehicles] ([vehicle_id], [vehicle_name], [plate_number], [total_seats], [status]) VALUES (2, N'Xe Giường Nằm Thaco', N'43B-999.99', 40, N'ACTIVE')
INSERT [dbo].[Vehicles] ([vehicle_id], [vehicle_name], [plate_number], [total_seats], [status]) VALUES (3, N'Xe Ghế Ngồi 45 chỗ', N'51B-555.55', 45, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61643B6152AE]    Script Date: 30/01/2026 14:23:59 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__87EF9F5979214EB0]    Script Date: 30/01/2026 14:23:59 ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [booking_date]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_time]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('SUCCESS') FOR [status]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ('SCHEDULED') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('CUSTOMER') FOR [role]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD FOREIGN KEY([destination_station_id])
REFERENCES [dbo].[Stations] ([station_id])
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD FOREIGN KEY([origin_station_id])
REFERENCES [dbo].[Stations] ([station_id])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[Routes] ([route_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicles] ([vehicle_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([status]='REFUNDED' OR [status]='FAILED' OR [status]='SUCCESS'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [CK_Trips_Status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='ON_GOING' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [CK_Trips_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='STAFF' OR [role]='DRIVER' OR [role]='ADMIN' OR [role]='CUSTOMER'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_Status] CHECK  (([status]='NOTACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_Status]
GO
USE [master]
GO
