@use "sass:map";
@import "../../../styles/pages/all";

.search-page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;

  .search-content {
    flex-grow: 1;

    .results-header {
      margin-bottom: 20px;

      h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
  }
}
